html {
  box-sizing: border-box;
}

:root {
  --color-primary: #ffa116;
  --color-secondary: #0f172b;
}

body {
  padding: left 0;
}

.container-xxl {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-family: "Nunito", sans-serif;
}

p,
small {
  font-family: "Heebo", sans-serif;
}

.nav-item .nav-link:hover {
  color: #ffa616 !important;
}

span.navbar-toggler-icon {
  color: #ffffff;
}

.header {
  background-image: url(./img/hearde.avif);
  background-size: cover;
}

.rote {
  animation: animate__rote linear 30s infinite;
}

.list-info {
  box-shadow: 0 0 5px #cecccc;
  transition: 1s;
}

.list-info:hover {
  background-color: var(--color-primary);
  color: #ffffff !important;
  box-shadow: none;
}

@keyframes animate__rote {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
